* {
    margin: 0;
    box-sizing: border-box;
}

*:not(ul):not(ol) {
    padding: 0;
}

body {
    font-family: "Mona Sans", serif !important;
    
    > * {
        background-color: $backgroundColor;
    }

}

